<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form (ngSubmit)="login()">
    <ion-input label="Email" type="email" [(ngModel)]="email" name="email" required></ion-input>
    <ion-input label="Contraseña" type="password" [(ngModel)]="password" name="password" required></ion-input>
    <ion-button expand="block" type="submit" color="primary">Ingresar</ion-button>
    <ion-button expand="block" fill="clear" (click)="goToRegister()">¿No tienes cuenta? Registrate</ion-button>
  </form>
</ion-content>