<ion-tabs>
<ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/home']">
      <ion-icon name="playCircle" ></ion-icon>
     Inicio
    </ion-tab-button>
    <ion-tab-button tab="clases" [routerLink]="['/clases']">
      <ion-icon name="radio"></ion-icon>
      Clases
    </ion-tab-button>
    <ion-tab-button tab="entrenamiento" [routerLink]="['/entrenamiento']">
     <ion-icon [src]="'assets/icon/barbell-outline.svg'"></ion-icon>
      Entrenamiento
    </ion-tab-button>
    <ion-tab-button tab="cuenta" [routerLink]="['/cuenta']">
      <ion-icon name="search"></ion-icon>
      Cuenta
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
